.clearFix:after {
  content: "";
  display: table;
  clear: both;
}

#imgContainer {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1024px;
}


#imgContainer canvas {
	max-width: 500px;
	max-height: 500px;
	margin-right: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#imgContainer img {
	max-width: 500px;
	max-height: 500px;
	margin-right: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#header {
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
	letter-spacing: -4px;
}


#header a {
	color: #000000;
	text-decoration: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#header a:hover {
	color: rgb(100,100,100);
}


.sectionTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
}

.section {
	width: 1024px;
	margin-top: 20px;
	background-color: rgb(230,230,230);
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	letter-spacing: normal;	
	padding: 6px;
}

.section a {
	color: rgb(20,20,20);
}

.section a:hover {
	color: rgb(60,60,60);
}



#controls {

}

#controls_images {
	margin-top: 10px;
	margin-bottom: 10px;
}

#controls_images img {
	border: solid 3px #000000;
	float: left;
	max-width: 160px;
	max-height: 140px;
	margin-right: 6px;
	margin-top: 6px;
	cursor: pointer;
}

#controls_file {
	margin-top: 20px;
	margin-bottom: 10px;
}

#browseButton {
	margin-top: 20px;
	margin-left: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: rgb(230,230,230);
	width: 100px;
	padding: 4px;
	text-align: center;
	background-color: rgb(60,60,60);
	cursor: pointer;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#browseButton:hover {
	background-color: rgb(120,120,120);
}

#imgcontrols {
	margin-left: 20px;
	width: 1000px;
}

.imgcontrol_group {
	float: left;
	margin-right: 40px;
}

.imgcontrol_item {
}

.imgcontrol_item_heading {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

.imgcontrol_item label {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	width: 50px;
	display: inline-block;
}

.imgcontrol_item span {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
}



#rekrushButton {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	color: rgb(230,230,230);
	width: 150px;
	padding: 4px;
	text-align: center;
	background-color: rgb(60,60,60);
	cursor: pointer;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#rekrushButton:hover {
	background-color: rgb(120,120,120);
}


#fileInfo {
	margin: 14px;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}



input[type=range] {
	-webkit-appearance: none;
	width: 180px;
	margin: 0px 0;
	margin-left: 4px;
	margin-right: 4px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 180px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #969696;
	border-radius: 0px;
	border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	height: 10px;
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #a3a3a3;
}

input[type=range]::-moz-range-track {
	width: 180px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #969696;
	border-radius: 0px;
	border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	height: 10px;
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 200px;
	height: 10px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #898989;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
	background: #969696;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
	height: 10px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #969696;
}

input[type=range]:focus::-ms-fill-upper {
	background: #a3a3a3;
}

