input[type=range] {
	-webkit-appearance: none;
	width: 180px;
	margin: 0px 0;
	margin-left: 4px;
	margin-right: 4px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 180px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #969696;
	border-radius: 0px;
	border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	height: 10px;
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #a3a3a3;
}

input[type=range]::-moz-range-track {
	width: 180px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #969696;
	border-radius: 0px;
	border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	height: 10px;
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 200px;
	height: 10px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #898989;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
	background: #969696;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
	height: 10px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #969696;
}

input[type=range]:focus::-ms-fill-upper {
	background: #a3a3a3;
}
