body {
	background-color: rgb(250,250,250);
	font-family: 'arial', sans-serif;
	font-size: 14px;
	letter-spacing: normal;
}

#main {
	width: 900px;
	margin: 0 auto;
}

#main header {
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
	letter-spacing: -4px;
}

#main header a {
	color: #000000;
	text-decoration: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#main header a:hover {
	color: rgb(100,100,100);
}

#main #canvas-container {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
	margin-bottom: 20px;
}

#main #canvas-container .image {
	flex: 0 1 auto;
	margin-right: 10px;
	margin-top: 10px;
	max-width: 45%;
	max-height: 400px;
}

#main #error-message {
	color: rgb(255, 25, 25);
}

#about-text {
	max-width: 80%;
}

.section-title {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
}

.section {
	margin-top: 20px;
	background-color: rgb(230,230,230);
	padding: 6px;
}

.section a {
	color: rgb(20,20,20);
}

.section a:hover {
	color: rgb(60,60,60);
}

#sample-images {
	display: flex;
	flex-flow: row wrap;
	margin-top: 10px;
	margin-bottom: 10px;
}

#sample-images img {
	border: solid 3px #000000;
	max-width: 160px;
	max-height: 140px;
	margin-right: 6px;
	margin-top: 6px;
	cursor: pointer;
}

#main-controls {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
	margin-bottom: 20px;
}

#main-controls .button {
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	color: rgb(230,230,230);
	width: 150px;
	padding: 4px;
	text-align: center;
	background-color: rgb(60,60,60);
	cursor: pointer;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

#main-controls .button:hover {
	background-color: rgb(120,120,120);
}


#main-input-controls {
	display: flex;
	flex-flow: row wrap;
}

.main-input-controls-group {
	margin-right: 20px;
	margin-bottom: 20px;
}

.main-input-controls-group .group-heading {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

.main-input-controls-group-item label {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	width: 50px;
	display: inline-block;
}

.main-input-controls-group-item span {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
}


#fileInfo {
	margin: 14px;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#main {
		width: inherit;
		margin: inherit;
	}

	#about-text {
		max-width: 100%;
	}

	#sample-images img {
		max-width: 96px;
		max-height: 64px;
		margin-right: 4px;
		margin-top: 4px;
	}

	#main #canvas-container canvas, img {
		max-width: 100%;
		max-height: 320px;
	}
}


input[type=range] {
	-webkit-appearance: none;
	width: 180px;
	margin: 0px 0;
	margin-left: 4px;
	margin-right: 4px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 180px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #969696;
	border-radius: 0px;
	border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	height: 10px;
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #a3a3a3;
}

input[type=range]::-moz-range-track {
	width: 180px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #969696;
	border-radius: 0px;
	border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	height: 10px;
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 200px;
	height: 10px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #898989;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
	background: #969696;
	border: 0px solid #010101;
	border-radius: 0px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0px solid rgba(0, 0, 0, 0);
	width: 16px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
	height: 10px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #969696;
}

input[type=range]:focus::-ms-fill-upper {
	background: #a3a3a3;
}
